language: c

compiler:
    - gcc

before_install:
    - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
    - sudo apt-get update -qq

install:
    - sudo apt-get install -q
        check
        gcc-4.8
        texlive-metapost
        texlive-latex-base
        texlive-latex-extra
        texlive-latex-recommended
    - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-4.8 40
    - sudo update-alternatives --config gcc

script:
    - cmake -DHARD_MODE=ON .
    - make -j3
    - make -j3 paper
    - ctest -VV .
